header {
    text-align: center;
    border: 2px;
    padding: 10px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    font-family: Georgia, serif;
    background-color: rgb(90, 57, 114);
    border-radius: 15px;
}
main {
    display: flex;
}
aside {
    border: 2px solid black;
    width: 25%;
    padding: 10px;
}
.conteudo {
    width: 75%;
    margin-left: 10px;
}

article {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

section {
    border:2px solid black;
    padding: 10px;
}
footer {
    border:2px;
    padding:10px;
    margin-top: 10px;
}
body {
    background-color: rgb(192, 145, 231);
}